{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>Password Reset Form</h3>
                        </div><br>
                        <form action="" method="post">{% csrf_token %}
                            {% for fm in form %}
                                <div class="form-group mb-3">
                                    {{fm.label_tags}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small>
                                </div>
                            {% endfor %}
        
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Save</button>
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-danger my-3">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
{% endblock content %}