{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 ">
                    <div class="bg-secondary rounded p-4 p-sm-5">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>Well Done !</h3><br>
                            <p class='text-white'>
                                An Email has been sent with instructions to reset your password. <b>Ckeck Tour Email</b>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
{% endblock content %}